* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282D35;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
  display: flex;
  background: #21222A;
  color: #61DAFB;
  padding: 20px;
}
nav span{
  align-self: center;
  font-size: 1.4rem;
  font-weight: 700;
}

nav> img {
  width: 40px;
  margin-right: 7px;
}
main{
 padding: 20px;
  background-image: url("./react_bg.png");
  background-repeat: no-repeat;
  background-position: right;
}


ul.factsList li{
  padding-block: 10px;
  line-height: 19px;
}
ul.factsList li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}